# User Config
*.user

# Autosave
*.autosave

# Build Dir
[Bb]uild/
build-*/

# IDE and clangd Files
.vscode/
.cache/

# Debian Build Helper
debian/.debhelper/
debian/thplayer/
debian/tmp/
*.debhelper.log

# sh*tOS
.DS_Store

#vim
*.swp
